<f:layout name="Master" />

<f:section name="content">

	<f:form action="update" name="editAccount" object="{editAccount}">
	<fieldset>
		<legend class="icon icon-vcard">Praktisk information</legend>
		<ol>
			<li>
				<label>Fornavn:</label>
				<f:form.textfield property="party.firstName" />
			</li>
			<li>
				<label>Fornavn:</label>
				<f:form.textfield property="party.lastName" />
			</li>
			<li>
				<label>E-mail/brugernavn:</label>
				<f:form.textfield property="party.electronicAddress" />
			</li>
			<li>
				<label>Tilknyttet projekter</label>
				<f:form.select property="party.projects" optionLabelField="title" multiple="1" options="{projects}" />
			</li>
		</ol>
	</fieldset>
	<f:form.submit value="Opret" class="form-button button-save"/>
	</f:form>

</f:section>

