<f:layout name="Master" />

<f:section name="content">

	<f:form action="create" name="newAccount" object="{newAccount}">
	<f:form.hidden name="authenticationProviderName" value="ArticleWorkflowProvider" />
	<fieldset>
		<legend class="icon icon-vcard">Praktisk information</legend>
		<ol>
			<li>
				<label>Fornavn:</label>
				<f:form.textfield property="firstName" />
			</li>
			<li>
				<label>Fornavn:</label>
				<f:form.textfield property="lastName" />
			</li>
			<li>
				<label>E-mail/brugernavn:</label>
				<f:form.textfield property="electronicAddress" />
			</li>
		</ol>
	</fieldset>
	<f:form.submit value="Opret" class="form-button button-save"/>
	</f:form>

	<fieldset>
		<legend class="icon icon-role">Rolle</legend>
			<ol>
				<li>
					<!--<label>Rolle</label>
					<f:form.select property="role" options="{Journalist: 'Journalist', Editor: 'Editor', Administrator: 'Administrator'}" />-->
				</li>
			<li>
				<label>Password</label>
				<f:form.password property="credentialsSource" />
			</li>
			</ol>
	</fieldset>
	<f:for each="{accounts}" as="account">
		<f:debug title="account">{account}</f:debug>
	</f:for>
</f:section>

