<div class="layout-header">
				<span class="icon icon-usergo">Modtagende red. sek.</span>
			</div>
		<fieldset>
			<div id="article-secretary">
				<ol>
					<li>
						<label>Red. sek.</label>
						<select>
							<option>Red. sek. 1</option>
							<option>Red. sek. 2</option>
							<option>Red. sek. 3</option>
						</select>
					</li>
					<li>
						<label>Status</label>
						<select>
							<option>Til gennemlæsning</option>
							<option>Læst</option>
							<option>Retur med rett.</option>
						</select>
					</li>
				</ol>
			</div>
		</fieldset>