<div class="layout-header">
				<span class="icon icon-transmit">Modtagende medie</span>
			</div>
		<fieldset>
			<div id="article-media">
				<div class="message message-information">
					Medie informationer hentes fra <a href="http://medie.holger.fdf.dk" target="_blank">FDFs medie database</a>
				</div>
				<ol>
					<li>
						<label>Modtagende medie</label>
						<input type="text" />
					</li>
					<li>
						<label>Modtager e-mail</label>
						<input type="text" />
					</li>
				</ol>
			</div>
		</fieldset>