<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:f="urn:flow3:fluid">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Artikel Workflow - {titleBasedOnAction}</title>
<f:base />
<script type="text/javascript" src="../../../Public/JavaScript/jQuery/latest.js"></script>
<script type="text/javascript" src="../../../Public/JavaScript/jQueryUI/latest.js"></script>
<script type="text/javascript" src="../../../Public/JavaScript/Form.js"></script>
<link rel="stylesheet" type="text/css" href="../../../Public/CSS/Reset.css" />
<link rel="stylesheet" type="text/css" href="../../../Public/CSS/Jqueryui.css" />
<link rel="stylesheet" type="text/css" href="../../../Public/CSS/Tables.css" />
<link rel="stylesheet" type="text/css" href="../../../Public/CSS/Status.css" />
<link rel="stylesheet" type="text/css" href="../../../Public/CSS/Layout.css" />
<link rel="stylesheet" type="text/css" href="../../../Public/CSS/Forms.css" />
<link rel="stylesheet" type="text/css" href="../../../Public/CSS/Icons.css" />
<link rel="stylesheet" type="text/css" href="../../../Public/CSS/Messages.css" />
<script>

</script>
</head>
<body>

<div id="top-bar">
	<div id="top-navigation">
		<f:security.ifAuthenticated>
		<f:link.action controller="standard" action="index">
			<span class="icon icon-list">Artikel oversigt</span>
		</f:link.action>

		<f:link.action controller="article" action="new">
			<span class="icon icon-newarticle">Ny artikel</span>
		</f:link.action>
		
		<f:link.action controller="account" action="edit">
			<span class="icon icon-user">Min konto</span>
		</f:link.action>

		<f:security.ifHasRole role="Administrator">
		<f:link.action controller="account">
			<span class="icon icon-user-edit">Brugere</span>
		</f:link.action>
		<f:link.action controller="project">
			<span class="icon icon-changeproject">Projekter</span>
		</f:link.action>
		<f:link.action controller="project">
			<span class="icon icon-templates">Skabeloner</span>
		</f:link.action>
		</f:security.ifHasRole>

		<f:link.action controller="account" action="logout">
			<span class="icon icon-cross">Log ud</span>
		</f:link.action>
		</f:security.ifAuthenticated>
	</div>
	<div id="top-project">
		<f:security.ifAuthenticated>
		<span class="icon icon-changeproject">Aktivt projekt: {user.activeProject.title}</span>
		</f:security.ifAuthenticated>
	</div>
</div>

<div id="container">
	<div class="message message-information">
		<p class="message-header">System information</p>
		<f:flashMessages />
	</div>
	<f:form.errors>
		<div class="message message-error">
			<p class="message-header">System fejl</p>
			<strong>{error.propertyName}</strong>: <ul><f:for each="{error.errors}" as="errorDetail"><li>{errorDetail.message}</li></f:for></ul>
		</div>
	</f:form.errors>
	<f:render section="content" />
</div>


</body>
</html>

