<f:layout name="Master" />

<f:section name="content">
	<h1>Create new project</h1>
	<fieldset>
		<legend>Praktisk information</legend>
		<ol>
			<li>
				<label>Title</label>
				<f:form.textfield property="firstName" />
			</li>
			<li>
				<label>Contact person</label>
				<f:form.textfield property="lastName" />
			</li>
			<li>
				<label>E-mail</label>
				<f:form.textfield property="email" />
			</li>
			<li>
				<label>Password</label>
				<f:form.password property="password" />
			</li>
		</ol>
	</fieldset>

</f:section>

