<div class="layout-header">
				<span class="icon icon-page">Indhold</span>
			</div>
		<fieldset>
			<div id="article-content">
				<ol>
					<li>
						<label>Rubrik</label>
						<f:form.textbox property="rubric" />
					</li>
					<li>
						<label>Manchet</label>
						<f:form.textbox property="manchet" />
					</li>
					<li>
						<label>Byline</label>
						<f:form.textbox property="byline"/>
					</li>
					<li>
						<label>Brødtekst</label>
						<f:form.textarea property="bodytext" rows="20" cols="70" />
						<!--<div id="htmleditor" style="display: inline-block"></div>-->
					</li>
				</ol>
			</div>
		</fieldset>