body, html {
	font-family: verdana, "Trebuchet MS", arial, helvetica;
	font-size: 8pt;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

/*
	Headers
*/

h1, h2, h3 {
	/*border-bottom: 2px solid #f00;*/
	padding-bottom: 10px;
}

h1 {
	font-size: 16pt;
}

h2 {
	font-size: 14pt;
}

h3 {
	font-size: 12pt;
}

/*
	Top bar
*/

div#top-bar {
	height: 38px;
	background-image: url('../Graphics/top-bar-background.png');
	background-repeat: repeat-x;
	color: #ffffff;
	width: 100%;
	position: fixed;
}

div#top-bar a {
	color: #ffffff;
	text-decoration: none;
}

div#top-bar div {
	padding: 12px;
}

div#top-bar div#top-project {
	text-align: right;
	font-weight: bold;
}

div#top-bar div#top-navigation {
	float: left;
}

div#top-bar div#top-navigation span {
	margin-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid transparent;
	cursor: pointer;
}

div#top-bar div#top-navigation span:hover {
	border: 1px solid #ffffff;
	background-color: #333;
}

/*div#top-bar div#top-navigation ul li {
	display: inline;
	padding-left: inherit;
}

div#top-bar div#top-navigation ul li ul {
	display: none;
}

div#top-bar div#top-navigation ul li:hover ul {
	display: block;
}*/


/*
	Container
*/

div#container {
	padding: 50px 12px 12px 12px;
}

div.layout-header {
	text-align: left;
	font-weight: bold;
	background-image: url('../Graphics/top-bar-background.png');
	background-repeat: repeat-x;
	border-bottom: 2px solid #f00;
	color: #ffffff;
	padding: 9px 5px 0px 5px;
	height: 21px;
}